@color_1: #606266;
@color_2: #c0c4cc;
@color_3: #409eff;
@color_4: #bfbfbf;
@color_5: #2b2b2b;
@color_6: #f56c6c;
@color_7: #939599;
@color_8: #fff;
@color_9: inherit;
@color_10: #5faeff;
@color_11: #3196ff;
@color_12: #dcdfe6;
@color_13: #67c23a;
@color_14: #909399;
@color_15: #e6a23c;
@color_16: #f8f8f9;
@color_17: #e4e7ed;
@color_18: #fd2222;
@color_19: #999;
@color_20: #2f3031;
@color_21: #73b8ff;
@color_22: #0d84ff;
@color_23: #a6d2ff;
@color_24: #529b2e;
@color_25: #85cf60;
@color_26: #a3db87;
@color_27: #767980;
@color_28: #abadb1;
@color_29: #c5c7ca;
@color_30: #d48a1b;
@color_31: #ecb869;
@color_32: #f2cd96;
@color_33: #f23c3c;
@color_34: #f89c9c;
@color_35: #fbcccc;
@color_36: #dddde1;
@color_37: #3699ff;
@font_family_1: vxeiconfont;
@font_family_2: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
@font_family_3: Verdana,Arial,Tahoma;
@font_family_4: inherit;
@background_color_1: #fff;
@background_color_2: #f5f7fa;
@background_color_3: transparent;
@background_color_4: #c5c5c5;
@background_color_5: #eee;
@background_color_6: inherit;
@background_color_7: #f8f8f9;
@background_color_8: hsla(0,0%,100%,.5);
@background_color_9: #409eff;
@background_color_10: #f3f3f3;
@background_color_11: rgba(50,128,252,.2);
@background_color_12: rgba(64,158,255,.2);
@background_color_13: #d9dddf;
@background_color_14: #fafafa;
@background_color_15: #fff3e0;
@background_color_16: #e6f7ff;
@background_color_17: #ffebbc;
@background_color_18: #d7effb;
@background_color_19: #f56c6c;
@background_color_20: #d9dadb;
@background_color_21: #f7f7f7;
@background_color_22: #f4f4f5;
@background_color_23: #5faeff;
@background_color_24: #3196ff;
@background_color_25: #a6d2ff;
@background_color_26: #f2f6fc;
@background_color_27: #73b8ff;
@background_color_28: red;
@background_color_29: hsla(0,0%,100%,.35);
@background_color_30: #67c23a;
@background_color_31: #79cb50;
@background_color_32: #61b636;
@background_color_33: #a3db87;
@background_color_34: #909399;
@background_color_35: #a0a3a8;
@background_color_36: #888b92;
@background_color_37: #c5c7ca;
@background_color_38: #e6a23c;
@background_color_39: #e9af57;
@background_color_40: #e49c2e;
@background_color_41: #f2cd96;
@background_color_42: #f78989;
@background_color_43: #f45e5e;
@background_color_44: #fbcccc;
@background_color_45: #f0f0f2;
@background_color_46: rgba(0,0,0,.5);
@background_color_47: #f8f8f8;
@background_color_48: rgba(0,0,0,.35);
@background_color_49: rgba(0,0,0,.15);
@border_color_1: #c5c5c5;
@border_color_2: #c0c1c2;
@border_color_3: #409eff;
@border_color_4: #fff;
@border_color_5: #909399;
@border_color_6: #f56c6c;
@border_color_7: transparent #19a15f transparent transparent;
@border_color_8: transparent #f56c6c transparent transparent;
@border_color_9: #dcdfe6;
@border_color_10: #3196ff;
@border_color_11: #a6d2ff;
@border_color_12: #5faeff;
@border_color_13: #67c23a;
@border_color_14: #79cb50;
@border_color_15: #61b636;
@border_color_16: #a3db87;
@border_color_17: #a0a3a8;
@border_color_18: #888b92;
@border_color_19: #c5c7ca;
@border_color_20: #e6a23c;
@border_color_21: #e9af57;
@border_color_22: #e49c2e;
@border_color_23: #f2cd96;
@border_color_24: #f78989;
@border_color_25: #f45e5e;
@border_color_26: #fbcccc;
@border_color_27: #f8f8f9;
@border_color_28: #f0f0f2;
@border_color_29: transparent;
@border_color_30: #73b8ff;
@border_color_31: #3699ff;
@border_top_color_1: #dcdfe6;
@border_top_color_2: #fff;
@border_top_color_3: #303133;
@border_right_color_1: #e8eaec;
@border_bottom_color_1: hsla(0,0%,100%,.5);
@border_bottom_color_2: #dcdfe6;
@border_bottom_color_3: #fff;
@border_bottom_color_4: #303133;
@border_left_color_1: #727272;
