@app:'omacaca';
@import '@style/theme/dark.less';

// ant design 有些二级组件的样式无法用插件引入时 需要手动引入下
@import 'ant-design-vue/es/message/style/index.less';
// 为了设置主题色，将vxeTable原有的css转为了less，提取出其中的颜色主题文件（他是用scss写的，改很麻烦）
@import '@style/vxeTable/vxeTable.less';

.-container {
	@apply px-6 md:px-12 lg:px-16 xl:px-24 2xl:px-40;
}

.white-text {
	@apply text-white;
	@apply dark:text-dark-w-first;
}

.hover-icon {
	display: block;
	position: relative;
	.icon-show {
		position: absolute;
		top:50%;
		transform: translate(0,-50%);
		opacity: 100;
		transition: all 0.2s ease-in-out .1s;
	}
	.icon-hidden {
		position: absolute;
		top:50%;
		transform: translate(0,-50%);
		opacity: 0;
		transition: all 0.2s ease-in-out .1s;
	}
	.icon-info{
		position: absolute;
		top:50%;
		transform: translate(60%,-50%);
		width: auto;
	}
	&:hover {
		.icon-show {
			opacity: 0;
		}
		.icon-hidden {
			opacity: 100%;
		}
	}
}
