@import "ant-design-vue/lib/style/themes/dark.less";
@primary-color: #2e5d44;
@primary-trans: fade(@primary-color, 85%);
@primary-light: mix(#D1E7DD, #141414, 25%);
@secondary-color: #7d623d;
@secondary-hover: color(~`colorPalette('@{secondary-color}', 7) `);
@white-color: rgba(255,255,255,0.85);
@white-color2: rgba(255,255,255,0.45);
@black-color: @white-color;
@success-color: @primary-color;

@import '@style/vxeTable/vxeTable-dark.less';
@vxe-font-color: @white-color;
@color_1: @vxe-font-color;
