@import "ant-design-vue/lib/style/themes/dark.less";
@primary-color: #2e5d44;
@primary-trans: fade(@primary-color, 85%);
@secondary-color: #7d623d;
@secondary-hover: color(~`colorPalette('@{secondary-color}', 7) `);
@white-color: rgba(255,255,255,0.85);
@white-color2: rgba(255,255,255,0.45);
@success-color: @primary-color;

@import '@style/vxeTable/vxeTable-dark.less';
@vxe-font-color: @white-color;
@color_1: @vxe-font-color;
@vxe-table-background-color:#141414;
@background_color_1:@vxe-table-background-color;

@vxe-table-background-color-2: #141414;
@background_color_14: @vxe-table-background-color-2;

@vxe-hover-background-color:#262626;
@background_color_2: @vxe-hover-background-color;

@vxe-header-background-color: #1D1D1D;
@background_color_7:@vxe-header-background-color;

@border_right_color_1: #303030;
