@import "ant-design-vue/lib/style/themes/default.less";
@primary-color: #5dbe8a;
@primary-trans: fade(@primary-color, 85%);
@primary-light: #D1E7DD;
@secondary-color: #FFC87D;
@secondary-color-hover: color(~`colorPalette('@{secondary-color}', 5) `);
@secondary-color-active: color(~`colorPalette('@{secondary-color}', 7) `);
@old-color:#1890ff;
@old-color-hover: color(~`colorPalette('@{old-color}', 5) `);
@old-color-active: color(~`colorPalette('@{old-color}', 7) `);
@old-color-outline: fade(@old-color, @outline-fade);
@white-color: #fff;
@white-color2: #fff;
@black-color: #262626;
@success-color: @primary-color;

@import '@style/vxeTable/vxeTable-light.less';
@vxe-font-color: #606266;
@color_1: @vxe-font-color;
