@import "ant-design-vue/lib/style/themes/default.less";
@primary-color: #5dbe8a;
@primary-trans: fade(@primary-color, 85%);
@secondary-color: #FFC87D;
@secondary-hover: color(~`colorPalette('@{secondary-color}', 7) `);
@white-color: #fff;
@white-color2: #fff;
